process {
    cpus   = { 8     * task.attempt }
    memory = { 32.GB * task.attempt }
    time   = { 8.h   * task.attempt }

    withLabel: 'process_medium|process_high' {
        cpus   = { 8     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
}

// Set bash options
process.shell = [
"bash",
"-C", // No clobber - prevent output redirection from overwriting files.
"-e", // Exit if a tool returns a non-zero status/exit code
"-u", // Treat unset variables and parameters as an error
"-o", // Returns the status of the last command to exit..
"pipefail" // ..with a non-zero status or zero if all successfully execute
]
